server:
  port: 8081
  servlet:
    context-path: /diploma
  error:
    include-message: always
spring:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
      hibernate.order_by.default_null_ordering: last
    show-sql: true
  datasource:
    main:
      #password: bekzat
      password: bekzat
      jdbcUrl: jdbc:postgresql://localhost:5432/kfm-test
      username: postgres
      driver-class-name: org.postgresql.Driver
      ddl-auto: update
    hikari:
      maximum-pool-size: 2
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: bekzatmyrzakasymov@gmail.com
    password: pmcjajhswwlvjopz
    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
          auth: false
          starttls:
            enable: true
            connectiontimeout: 5000
            timeout: 3000
            writetimeout: 5000
logging:
  level:
    org:
      hibernate:
        SQL: info
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

clientApp:
  name: diploma-api

